name: CI
on:
  - workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Test install
        run: npm install express >> outs.txt && curl -T ntfy.sh -X POST ntfy.sh/mytopic